<%if( errors.length > 0 ){%>
    <div class="row alert alert-danger" role="alert">
      <ul>
        <% errors.forEach(function(err,index){%>
          <li><%= err %></li>
        <% }); %>
      </ul>
    </div>
<%}%>
<%if( successMessages.length > 0 ){%>
    <div class="row alert alert-success" role="alert">
      <ul>
        <% successMessages.forEach(function(successMessage,index){%>
          <li><%= successMessage %></li>
        <% }); %>
      </ul>
    </div>
<%}%>
