<script type="text/javascript">
  $(window).scroll(function(){
            var scrollTop = $(window).scrollTop();
            var windowHeight = $(window).height();
            var documentHeight = $(document).height();
            var continueVal = $("#continue").val();

            if( (scrollTop + windowHeight >  documentHeight-0.2) && continueVal=="true" ){
               var pageNo = $("#pageNo").val();
               var queryParams = {};
               var locationId =  $("#locationId").val();
               var url = "/moreNews/" + locationId;
               queryParams["pageNo"] = pageNo;

               $.getJSON(url, queryParams, function(data, status, xhr){
                 var news = data.news;
                 if(status== 'success'){
                   if(news.length >= 1){
                     dataEmbending(news);
                     $("#pageNo").val(parseInt(pageNo)+1);
                   }
                   $("#continue").val(data.continueOn);
                 }
               });
            }
  });
  function dataEmbending(data){
    $.each(data, function(key, val){
       var name = val.user.firstName + " " + val.user.lastName;
       var title = val.title;
       var text = val.text;
       var disAgreeNo = val.disagreeNo;
       var newsId = val._id;
       var agreeNo = val.agreeNo;
       var dateDiff = moment(val.createdAt).fromNow();
       var  showNewsUrl = "/showLocationNews/"+newsId;
       var html = '<div class="row">\
             <!--showing the user name  -->\
             <div class="col-12 mt-2">\
                   <!-- the name of the user -->\
                   <img src="#" alt="..." class="img-thumbnail rounded-circle">\
                   <span class="">'+ name +'</span>\
                   <span class="float-right">' + dateDiff + '</span>\
             </div>\
             <!--showing the title -->\
             <div class="col-12 mt-2">\
               <div class="row justify-content-center">\
                 <span class="font-weight-bold">'+ title +'</span>\
               </div>\
             </div>\
             <!--the text of the news  -->\
             <div class="col-12 mt-2">\
                 <div class="text-monospace">\
                   '+ text +'\
                 </div>\
             </div>\
             <hr/>\
             <div class="col-12 mt-2">\
                 <div class="row pl-3">\
                   <div class="col-2">\
                       <i class="fas fa-thumbs-up fa-lg faa-vertical" data-toggle="tooltip" data-placement="top" title="This the number of people that agree with the news."></i>\
                       <span class="votingText">'+agreeNo+'</span>\
                   </div>\
                   <div class="col-2">\
                       <i class="far fa-thumbs-down fa-lg" data-toggle="tooltip" data-placement="top" title="This the number of people that disagree with the news."></i>\
                       <span class="votingText">'+disAgreeNo+'</span>\
                   </div>\
                   <div class="col-4">\
                         <i class="far fa-comments fa-lg" data-toggle="tooltip" data-placement="top" title="This is the number of comment."></i>\
                         <span class="votingText">Comment</span>\
                   </div>\
                   <div class="col-4">\
                     <a href="'+ showNewsUrl + '">..More</a>\
                   </div>\
                 </div>\
             </div>\
       </div>\
       <hr>';
       $("#newsWrapper").append(html);
    });
  }
</script>
