<!DOCTYPE html>
<html>
  <%- include ./partials/head.ejs %>
  <body>
    <%- include ./partials/navBar %>
    <div class="container-fluid justify-content-center">
        <div class="row justify-content-center">
          <div class="col-4">
            <%- include ./partials/flashMessage.ejs %>
          </div>  
        </div>

    </div>
    <p>Welcome to <%= title %></p>
  </body>
</html>
