body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.votingText {
  font-size: 12px;
  font-style: italic;
  color: black;
}
#commentUpperWrapper{
  overflow-y: hidden;
  overflow-y: auto;
  max-height:700px;
}
